<html>


<head>	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script></head>
<body bgcolor="gray">


<form id="login" action="/" method="post" onSubmit="return LoginCheck()">
<dt>
user: <input type="text" name="nameInput" value=""/>
<span class="user"></span>
</dt>
<dt>
password: <input type="text" name="passwordInput" value=""/>
<span class="password"></span>
</dt>
<dt>
<input type="submit" name="submit" value="sign in">
</dt>
</form>

<form method="get" action="toResigter">
<dt>
<input type="submit" name="signUp" value="sign up">
</dt>
</form>
</html>

<form method="get" action="toManage">
<dt>
<input type="submit" name="adminLogin" value="manage">
</dt>
</form>
</html>

<script type="text/javascript">

function LoginCheck()
{
	if($("input[name=nameInput]").val()&&$("input[name=passwordInput]").val()) {
		$.post("/checkLogin", $("#login").serialize(), function(data){
			console.log(data);
			if(data && (data.user||data.password)){
			
				for(var k in data){
					$("span.user").html(data[k]);
				}
			}
			else if(data && data.url){
				console.log("jump");
				window.location = data.url;
			}
		}, "json");	
	}
	else {
		alert("Enter Name and Password plz");
	}
	return false;
}

</script>
