<html>


<head>	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script></head>
<body bgcolor="gray">


<form id="signup" action="checkResigter" method="post" onSubmit="return registerCheck()">

<dt>
User Name: <input type="text" name="u[name]" value=""/>
<span class="name"></span>
</dt>
<dt>
Password: <input type="text" name="u[password]" value=""/>
<span class="password"></span>
</dt>
<dt>
PasswordRepeat: <input type="text" name="u[passwordRepeat]" value=""/>
<span class="passwordRepeat"></span>
</dt>

<dt>
<input type="submit" name="submit" value="register">
</dt>
</form>

</html>

<script type="text/javascript">
function registerCheck() 
{
	$.post("/checkResigter", $("#signup").serialize(), function(data){
		console.log(data);
		if(data && data.url){
			window.location = data.url;
		}
		else {
			for(var k in data){
				$("span.name").html(data[k]);
			}
		}
	}, "json");
	
	return false;
}
</script>