<html>


<head>	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script></head>
<body bgcolor="gray">


<form action="registerCheck" method="post">

<dt>
User Name: <input type="text" name="u[name]" value=""/>
</dt>
<dt>
Password: <input type="text" name="u[password]" value=""/>
</dt>
<dt>
PasswordRepeat: <input type="text" name="u[passwordRepeat]" value=""/>
</dt>

<dt>
<input type="submit" name="submit" value="register">
</dt>
</form>

errors:
<% console.log(errors)%>
<%if(errors instanceof Array) { %>
<% for(var i=0; i<errors.length; i++) { %>
<dd>
<%= errors[i] %>
</dd>
<% }}%>

</html>